@charset "UTF-8";

/* .wrapper {
  margin: 0 auto;
  max-width: 1920px;
  text-align: center;
  background-color: red;
} */
.ttl {
  color: red;
  text-align: center;
}
table{
  margin: 0 auto;
  width: 300px;
  border: 3px;
  
}
.black {
  border: 1px solid black;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
}
.white{
  height: 30px;
  width: 30px;
  background-color: #000000;
}
