.wrapper {
  margin: 0 auto;
}

.container {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0 auto;
}

.ttl {
  margin-bottom: 20px;
  font-size: 50px;
  text-align: center;
}

.diamond {
  display: inline-block;
  margin: 0 auto;
}